.header {
    height: 130vh;
    position: relative;

    &_logo {
        width: 3rem;
    }

    &-logo__text {
        font-weight: 600;
        font-size: 1.7rem;
        color: $color-white;
    }

    &_text {
        position: absolute;
        top: 10%;
        left: 20%;
    }
}

.heading {

    &-primary {
        line-height: 100%;
        font-size: 5rem;
        font-weight: 700;
        display: block;
        width: 70%;
        text-align: center;
        color: $color-white;
    }

    &-primary--sub {
        display: block;
        font-size: 1.5rem;
        line-height: 150%;
        color: $color-white-1;
    }
}

.navigation {
    &__nav {
        position: absolute;
        top: -2%;
        left: 50%;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin-left: 1.5rem;
        display: inline-block;
        text-transform: capitalize;

        &:not(:last-child) {
            font-size: 1.2rem;
        }

        &:last-child {
            background-color: #ffffff59;
            font-size: .9rem;
            padding: .88rem 1.88rem;
            border-radius: 12px;
            opacity: .8;

            &:hover {
                background-color: $color-light-gray;
                & a:hover {
                    color: $color-white;
                }
            }
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            font-weight: 600;
            color: $color-white;
        }

        &:hover {
            color: #01acfd;
        }

        
    }

}

.btn-box {
    position: absolute;
    top: 45%;
    left: 40%;
    background-color: rgba(240, 45, 94, .5);
    backdrop-filter: blur(7px);
    padding: 1rem 2rem;
    border-radius: 5px;

    &:hover {
        background-color: #f02d5e;
    }
}

.button-so-icon {
    width: 24px;
    height: 24px;
    margin-left: 9px;
}

.btn-download {
    &:link,
    &:visited {
        text-decoration: none;
    }

    & span {
        line-height: 120%;
        font-size: 1.1rem;
        font-weight: 600;
        color: $color-white;
    }
}